@font-face {
    font-family: "ChivalWebFont";
    src: url("/assets/font/Inter.woff") format("woff"), /* Support for PC     */
         url("/assets/font/Inter.ttf") format("ttf");   /* Support for MOBILE */
}

* {
    font-family: ChivalWebFont, sans-serif;
}

body {
    margin: 0;
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
    overflow: hidden;
}

.chival-heading {
    width: 100%;
    height: 80px;

    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);

    display: flex;
    align-items: center;

    padding-left: 10px;
}

.chival-heading-logo {
    height: 80%;
}

.content {
    padding: 10px;
}